body {
	font-family: 'Lato', sans-serif;
}	

#grad1 {
  background-image: linear-gradient(to bottom, #1BC3E5 0%,#008080 100%);
}

#header{
	width: 500px;
    height: 80px;
    margin: 0 auto;
    background-color:white;
    padding: 10px 50px 50px 150px;
    border: 2px solid #cbcbcb;
    
}

#quiz {
	width: 600px;
    height: 12360px;
    margin: 0 auto;
    background-color:white;
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
}
input {
	margin-bottom: 20px;
	display: block;
}
#button {
	background: #1BC3E5;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}


#mc {
	display: inline;
} 
#number_correct{
	width: 200px;
    height: 45px;
    margin: 0 auto;
    background-color:white;
    padding: 49px 50px 50px 50px;
    border: 2px solid #cfd9df;
	font-size: 30px;
	color: #08C4AB;
	text-align: left
}
.questions {
	font-weight: bold;
	font-size: 18px;
}